<?xml version="1.0" encoding="UTF-8"?>
<components xmlns:scr="http://www.osgi.org/xmlns/scr/v1.0.0">
   <scr:component name="org.lunifera.example.vaadin.ecview.dtos.mapper.sampledtomapper">
       <implementation class="org.lunifera.example.vaadin.ecview.dtos.mapper.SampleDtoMapper"/>
       <property name="dto" value="org.lunifera.example.vaadin.ecview.dtos.SampleDto"/>
       <property name="entity" value="org.lunifera.example.vaadin.ecview.SampleEntity"/>
       <property name="service.pid" value="org.lunifera.example.vaadin.ecview.dtos.mapper.sampledtomapper"/>
       <reference name="bind" interface="org.lunifera.dsl.dto.common.IMapperAccess" 
       		cardinality="1..1" policy="static" bind="bindMapperAccess" unbind="unbindMapperAccess"/>
   </scr:component>
</components>
