<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="org.lunifera.example.vaadin.lunifera.standalone.target" sequenceNumber="42">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.bval" version="0.3.0.v201205161050"/>
<unit id="javax.validation" version="1.0.0.GA_v201205091237"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130827064939/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.9.0.v20130828-0031"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.lunifera.dependencies.feature.jetty.feature.group" version="8.1.11"/>
<unit id="org.lunifera.runtime.web.feature.vaadin.addon.osgi.source.feature.group" version="0.0.1.201401241825"/>
<unit id="org.lunifera.dependencies.feature.logback.feature.group" version="1.0.13"/>
<unit id="org.lunifera.dependencies.feature.atmosphere.feature.group" version="1.0.18.201401251444"/>
<unit id="org.lunifera.runtime.feature.configuration.manager.feature.group" version="0.0.1.201401241702"/>
<unit id="org.lunifera.dependencies.feature.security.shiro.feature.group" version="1.2.2"/>
<unit id="org.lunifera.dependencies.feature.vaadin.feature.group" version="7.1.9"/>
<unit id="org.lunifera.runtime.feature.common.source.feature.group" version="0.0.1.201401241702"/>
<unit id="org.lunifera.runtime.feature.common.feature.group" version="0.0.1.201401241702"/>
<unit id="org.lunifera.runtime.web.feature.vaadin.addon.osgi.feature.group" version="0.0.1.201401241825"/>
<unit id="org.lunifera.runtime.feature.configuration.manager.source.feature.group" version="0.0.1.201401241702"/>
<repository location="http://lun.lunifera.org/downloads/p2/lunifera/kepler/latest/"/>
</location>
</locations>
</target>
