<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="org.lunifera.example.vaadin.lunifera.standalone.target" sequenceNumber="31">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.semanticsoft.vaaclipse.feature.runtime.core.source.feature.group" version="1.0.0.201309142024"/>
<unit id="org.semanticsoft.vaaclipse.feature.runtime.core.feature.group" version="1.0.0.201309142024"/>
<repository location="http://lun.lunifera.org/downloads/p2/vaaclipse/nightly/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.feature.group" version="4.3.0.v20130605-2000"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.9.0.v20130528-0742"/>
<unit id="org.eclipse.persistence.jpa.feature.group" version="2.5.0.v20130507-3faac2b"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.dbaccess.feature.feature.group" version="1.1.0.RELEASE"/>
<repository location="http://download.eclipse.org/gemini/updates/dbaccess/1.1.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.jpa.feature.feature.group" version="1.2.0.M1"/>
<repository location="http://download.eclipse.org/gemini/jpa/updates"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.lunifera.dependencies.feature.logback.feature.group" version="1.0.13"/>
<unit id="org.lunifera.runtime.web.feature.vaadin.common.feature.group" version="0.0.1.201309150504"/>
<unit id="org.lunifera.runtime.feature.configuration.manager.feature.group" version="0.0.1.201309150501"/>
<unit id="org.lunifera.dependencies.feature.security.shiro.feature.group" version="1.2.2"/>
<unit id="org.lunifera.dependencies.feature.atmosphere.feature.group" version="1.0.14.201309150458"/>
<unit id="org.lunifera.runtime.web.feature.vaadin.addon.osgi.feature.group" version="0.0.1.201309150504"/>
<unit id="org.lunifera.dependencies.feature.assert-utilities.feature.group" version="1.2.2"/>
<unit id="org.lunifera.runtime.feature.common.source.feature.group" version="0.0.1.201309150501"/>
<unit id="org.lunifera.runtime.feature.common.feature.group" version="0.0.1.201309150501"/>
<unit id="org.lunifera.runtime.feature.configuration.manager.source.feature.group" version="0.0.1.201309150501"/>
<unit id="org.lunifera.dependencies.feature.vaadin.feature.group" version="7.1.0.201309150458"/>
<unit id="org.lunifera.dependencies.feature.vaadin.addon.jpacontainer.feature.group" version="3.0.0"/>
<unit id="org.lunifera.container.equinox.kepler.server.feature.feature.group" version="3.9.0"/>
<unit id="org.lunifera.runtime.feature.logging.equinox.over.slf4j.feature.group" version="0.0.1.201309150501"/>
<repository location="http://lun.lunifera.org/downloads/p2/lunifera/kepler/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.bval" version="0.3.0.v201205161050"/>
<unit id="javax.validation" version="1.0.0.GA_v201205091237"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130827064939/repository/"/>
</location>
</locations>
</target>
