<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="target" sequenceNumber="2">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.server.jetty.feature.group" version="1.1.0.v20130429-1600"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.lunifera.dependencies.feature.security.shiro.feature.group" version="1.2.2"/>
<unit id="org.lunifera.dependencies.feature.vaadin.feature.group" version="7.1.9"/>
<unit id="org.lunifera.dependencies.feature.jetty.feature.group" version="8.1.11"/>
<unit id="org.lunifera.dependencies.feature.atmosphere.feature.group" version="1.0.18.201401251444"/>
<repository location="http://lun.lunifera.org/downloads/p2/lunifera/kepler/latest/"/>
</location>
</locations>
</target>
